* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    }
    html{
        background-color: black;
    }
    h1{
        /* color: #484848; */
        color: #f5f5f5;
        font-size: 50px;
        font-weight: bold;
        font-family: monospace;
        letter-spacing: 7px;
        cursor: pointer;
        margin-left: 50px;
      }
      h1 span{
        transition: .5s linear;
        margin-left: 10px;
        font-weight: normal;
        text-shadow: 0 0 10px #fff,
                     0 0 20px #fff, 
                     0 0 40px #fff;
      }
      h1:hover span:nth-child(1){
        margin-right: 5px
      }
      h1:hover span:nth-child(2){
        margin-left: 30px
      }
    
    #array {
    background-color: black;
    height: 305px;
    width: 598px;
    margin: auto;
    position: relative;
    margin-top: 64px;
    }
    
    .block {
    width: 28px;
    background-color: cyan;
    position: absolute;
    border-radius: 0.7vmin;
    bottom: 0px;
    transition: 0.2s all ease;
    }
    
    .block_id {
    position: absolute;
    color: white;
    margin-top: -20px;
    width: 100%;
    text-align: center;
    font-family: "Open sans",sans-serif;
}
.fname{
    font-family: "Open sans",sans-serif;
    font-weight: 300;
    font-size: 2vmin;
}
.fname-input{
    font-family: "Open sans",sans-serif;
    font-weight: 500;
    font-size: 2vmin;
    color: white;
    background-color: #333;
}
.bs{
    background-color: black;
    font-size: 2vmin;
    box-sizing: border-box;
    padding: 1vmin;
    color: white;
    cursor: pointer;
    border: none;
    transition: 0.5s ease-in-out;
    font-family: "Open sans",sans-serif;
}
.bs:hover{
    transform: scale(1.5);
    text-shadow: 0 0 10px cyan,
               0 0 20px cyan, 
               0 0 40px cyan;
}
#text{
    font-family: "Open sans",sans-serif;
    font-weight: 300;
    font-size: 3vmin;
}

    